name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: go-semantic-release/action@v1
        id: semrel
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          allow-initial-development-versions: true
          changelog-generator-opt: "emojis=true"

      - name: Release info
        if: steps.semrel.outputs.version != ''
        run: |
          echo "Released version: ${{ steps.semrel.outputs.version }}"

      - name: Set up Go
        if: steps.semrel.outputs.version != ''
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.7"

      - name: Run GoReleaser
        if: steps.semrel.outputs.version != ''
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
